doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My shop
        link(rel="stylesheet",href="/css/main.css")
        lnik(rel="stylesheet",href="/css/product.css")
    body 
    header.main-header
        nav.main-header_nav
            ul.main-header_intem-list
                li.main-header_item
                    a.active(href="/") Shop
                li.main-header_item
                    a(href="admin/add-product") Add Product    